body{
  background-color: #F1FFF3;
}

.pagename{
  font-size: 80px;
  text-align: center;
  border-radius: 50px;
  background: #ADFF8C;
}

.greeting{
  font-size: 50px;
  border-radius: 50px;
  text-align: center;
}

.about{
  font-size: 25px;
  background: #ADFF8C;
  border-radius: 50px;
  border-color: #ADFF8C;
}

.abouthome{
  font-size: 20px;
  text-align: center;
  border: 4px solid;
  border-left-color: #FF8888;
  border-right-color: #02FFC6;
  border-bottom-color: #42FF00;
  border-top-color: #FF00E0;
  background: #FFFFFF;
}

.aboutcovid-19{
  position: relative;
  text-align: center;
  down: 400px;
}

.overview{
  text-align: center;
  font-size: 19px;
}

.symptoms{
  position: relative;
  text-align: center;
}

.aboutsymptoms{
  text-align: center;
  font-size: 19px;
}

.prevention{
  position: static;
  text-align: center;
}

.safety{
  font-size: 20px;
}

.cases{
  text-align: center;
}

.imp{
  font-size: 30px;
}

.author{
  position: relative;
  text-align: center;
}

.about1{
  position: relative;
  font-size: 25px;
  background: #ADFF8C;
  border-radius: 50px;
  border-color: #ADFF8C;
}